$primary-black: #000;
$red-color: #d23530;

.featured-article-container {
  height: 130px;
  margin-bottom: 20px;
  padding: 5px;
}

.featured-artical-img-cont {
  display: flex;
  height: 120px;
  width: 150px;
}

.featured-artical-img-cont img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.featured-article-title,
.featured-article-desc {
  margin-bottom: 10px;
}

.featured-wrapper {
  margin-top: 10px;
}

.featured-title {
  padding: 12px 0 0 10%;
}

.fetured-loader {
  margin-left: 90px;
}

.featured-title span {
  border-bottom: 1.5px solid $primary-black;
  padding: 0 0 8px;
}

.pop-delete {
  border: 1px solid $red-color;
  border-radius: 3px;
  color: $red-color;
  cursor: pointer;
  padding: 5px 6px;
}
