$blue: #0e7fe1;
@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');
.navbar-profile-pic {
  color: $blue;

  img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }
}

.icon-blue {
  color: $blue;
}

.nav-text {
  margin-left: -6px;
}

.app-name-logo {
  font-family: 'Tangerine', cursive;
  font-size: 2.5em;
}