.ant-btn-danger {
  font-size: 10px;
  height: 30px;
  margin-left: 8px;
  padding: initial;
  width: 89px;
}
.add-comment {
  font-size: 10px;
  height: 30px;
  padding: initial;
  width: 150px;
}
.comment-rating {
  font-size: 30px;
  margin-top: 5px;

  &-dislikes {
    cursor: pointer;
    margin-left: 25px;
  }
}

.delete-icon {
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.dropdown-icon {
  cursor: pointer;
}

.hide {
  display: none;
}

.edit-field {
  padding-left: 77px;
}

.comment-message,.nested-comment-message, .likes-message {
  color: red;
}

.utility-buttons {
  margin-left: 2%;
}

.nested {
  margin-left: 6%;
}
.text-editor-item {
  max-width: 73%;
  margin: 0 0 0 7%;
}

.comment-item-container, .nested-comment-item {
  // margin-bottom: 3%;
  padding: 3%;
}

.msg-icon {
  font-size: 30px;
}

#edit_form_body {
  width: 900px;
  margin-top: 10px;
}

.edit-buttons {
  color: black;
  font-size: 20px;
}