$primary-white: #ffffff;
$primary-black: #000000;
$light-blue: #00bfff;
$font-stack: Helvetica, sans-serif;
$brand-color: #262626;

body {
  font: $font-stack;
}

body,
* {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: $primary-white;
  margin-block: 10px;
}

.logo {
  color: $primary-black;
  font-size: 17px;
}

.reset-form {
  align-content: center;
  align-items: center;
  margin: auto;
  padding-top: 12em;
  text-align: center;
  width: 20%;
}

.container-body {
  margin: auto;
  width: 90%;
}

.shadow {
  background-color: $brand-color;
  height: 2px;
  opacity: 0.1;
  width: 100%;
}

.article-hover,
button.article-hover-title {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 5px 0;
  text-align: left;
}

button.article-hover-title {
  padding: 0;
}

.article-hover-title:hover {
  color: $light-blue;
}

.ant-statistic-content-value-int {
  font-size: 18px;
  font-weight: normal;
}

.rating {
  font-size: 12px;
  color: $primary-black;
  text-align: left;
}

.text-center {
  text-align: center;
}

.share-icon {
  font-size: 25px;
  padding: 0;
  color: black;
}

.table-head {
  font-weight: bold;
}

.list-item {
  opacity: 0.6;
}

.profile-header-info-followers span {
  margin-right: 10px;
  cursor: pointer;
}

.no-display {
  display: none;
}

.visible {
  display: block;
  margin-top: 5px;
}
