$primary-white: #fff;
$primary-black: #000;
$font-stack: Helvetica,
sans-serif;
$brand-color:  #262626;

body {
  font: $font-stack;
}

.nav {
  background-color: $primary-white;
}

.logo {
  color: $primary-black;
  font-size: 17px;
}
.reset-form {
  align-content: center;
  align-items: center;
  margin: auto;
  padding-top: 12em;
  text-align: center;
  width: 20%;
}


